.newLetterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.leftNewContainer {
  flex: 1;
}

.newLetterImage {
  width: 100%;
  height: 100%;
}
.newLetterImg {
  width: 40%;
  height: 40%;
  object-fit: contain;
  padding-left: 300px;
}
.rightNewContainer {
  flex: 1;
}

.rightNewsDiv {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.subscribe {
  font-size: 35px;
  font-weight: bold;
  color: #ffcc00;
  padding-left: 50px;
}
.beInTouch {
  font-size: 50px;
  font-weight: bold;
  padding: 10px 0px 10px 50px;
}

.subscribe2 {
  width: 50%;
  height: 50%;
  margin-left: 50px;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid rgb(235, 207, 207);
}
.subscribe2Icon {
  font-size: 20px;
  padding-right: 10px;
}
.subscribe2Email {
  width: 60%;
  height: 10%;
  border: none;
  outline: none;
  font-size: 20px;
}
.subscribe2Email::placeholder {
  color: gray;
  font-weight: 300;
}
.subscribe3 {
  width: 30%;
  height: 10%;
  font-size: 12px;
  font-weight: bold;
  background-color: #ffcc00;
  padding: 10px;
  border: none;
}
@media screen and (max-width: 480px) {
  .newLetterContainer {
    display: flex;
    flex-direction: column;
  }
  .leftNewContainer {
    display: none;
  }
  .rightNewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rightNewsDiv {
    display: flex;
    padding-top: 50px;
  }
  .subscribe {
    padding-left: 5px;
    font-size: 20px;
  }
  .beInTouch {
    font-size: 20px;
    padding: 10px;
  }
  .subscribe2 {
    width: 80%;
    height: 10%;
  }
  .subscribe2Icon {
    font-size: 15px;
    padding-right: 5px;
  }
  .subscribe2Email {
    width: 60%;
    height: 10%;
    font-size: 15px;
  }
  .subscribe3 {
    width: 30%;
    height: 10%;
    font-size: 10px;
    padding: 5px;
  }
}
