.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffcc00;
  width: 100%;
  height: 50px;
}
.topbarLeft,
.topbarCenter,
.topbarRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
h4 {
  font-weight: 300;
  padding-left: 10px;
  cursor: pointer;
}
.social-ul {
  display: flex;
  list-style: none;
}
.social-li {
  padding: 5px;
}
.topbarIcon {
  font-size: 20px;
  cursor: pointer;
}
